@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "عدم دسترسی";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">شما دسترسی به این صفحه ندارید</p>
</header>
