@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/site.css" />

<div style="font-family:'Vazir'!important;">
    <div class="row">
        <h2 style="text-align:center;">تنظیمات حساب</h2>
        <h4 style="text-align:center;">اطلاعات خود را بروز کنید</h4>
        <hr />
        <div class="col-md-9">
            @RenderBody()
        </div>
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
