@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills nav-stacked" style="float:right;">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">پرو فایل</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a id="change-password" asp-page="./ChangePassword">تغییر رمز عبور</a></li>
</ul>
