@{
    ViewData["Title"] = "ارتباط با ما";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a>
</address>
